//all:
$face-color: #f6e3da;
$mouth-color: #c67878;
$eye-color: #000;
$border-hand-color: #f0d0c1;

//girl:
$girl-hair-color: #553123;
$cheek-color: #f3a287;
$girl-chest-color: #90b0c5;

//boy:
$boy-glasses: #5a4f4f;
$boy-hair-color: #8c6c55;
$boy-shirt-color: #fabf5b;
$boy-shorts-color: #887765;
$boy-trousers-color: #64708a;